.container{

}


.container .header{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    color: black;
    margin-top: 2vh;
}

.container .context{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    word-break: break-word;
    color: black;
    width: 35vw;
}