.header{
    font-size: 3.5vw;
    width: auto;
    height: auto;
    margin-bottom: 2vh;
}

.horizontalLine{
    content: "-";
    background: #828282;
    height: 0.1vh;
    width: 60vw;
}

h1{margin:0; padding:0; text-align: left}
