.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    word-wrap: break-word;
    width: 15vw;
    text-align: left;
    margin-left: 1vw;
}

.container p {
    margin: 10px;
    color: black;
}

.container p:nth-child(odd) {
    color: #828282;
    font-family: 'Source Sans Pro', sans-serif;
}

