.container{
    background: #F5F5F5;
    width: 100%;
    height: 100%;
    float: right;
}

p{
    color:white;
}

.box{
    margin-top: 2vh;
    margin-left: 10vw;
}

.header{
    margin-top: 8vh;
}

.cardsBox {
    display: flex;
    flex-direction: row;
}

.card{
    margin-right: 6vw;
    margin-top: 30px;
}

.horizontalCardsBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
