@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

.btn{
    border-radius: 10px;
    border: 1px solid rgba(130,130,130,.5);
    stroke: rgba(0, 0, 0, .15);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 25vw;
    height: 5.5vh;
    background: white;
    padding: 0;

}

.logo{
    height: 2.5vh;
    width: 2.5vw;
    margin: 1vh;
    float:left;
}

.btnText{
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    margin: 1vh;

}